<div class="container text-center">
  <div class="row">
    <div class="col">
      Name and Surname
    </div>
    <div class="col">
      Address
    </div>
    <div class="col">
      website
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      {{name}}
    </div>
    <div class="col">
      Address
    </div>
    <div class="col">
      website
    </div>
  </div>
</div>